
@{
    ViewBag.Title = "Index";
}

@Html.Hidden("Get", Url.Action("Get", "Data"))

<body id="body" onload="startTime(), startDate()">

    <h1> <span id="dateName">DateName</span> - <span id="date">CurrentDate</span> - <span id="time">CurrentTime</span> </h1>
 
    <table class="table">

        <thred>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Value</th>
                <th>Type</th>
                <th>Node</th>
                <th>Sensor</th>
            </tr>

            <tbody id="tblInfo"></tbody>

        </thred>
    </table>

</body>

<script src="@Url.Content("~/Scripts/Javascript/time.js")" type="text/javascript"></script>
  
