
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Hidden("Get", Url.Action("Get", "Data"));

<table class="table">

    <thred>
        <tr>
            <th>Id</th>
            <th>Time</th>
            <th>Value</th>
            <th>Type</th>
            <th>Node</th>
            <th>Sensor</th>
        </tr>

        <tbody id="tblInfo"></tbody>


    </thred>
</table>

