
@{
    ViewBag.Title = "LightData";
}

@Html.Hidden("Get", Url.Action("Get", "Data"))

<!DOCTYPE HTML>
<html>
<body id="body" onload="drawLightChart()">

    <div id="container1" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

</body>
</html>

